<!-- Section: Completed Projects -->
    <section class="divider layer-overlay overlay-dark-9" data-bg-img="images/bg/grass-blades.jpg">
      <div class="container">
        <div class="section-title">
          <div class="row">
            <div class="col-md-12 text-center">
              <h2 class="text-white mt-0 line-height-1">Completed <span class="text-theme-colored">Projects</span></h2>
            </div>
          </div>
        </div>
        <div class="section-content text-center">
          <div class="row">
            <div class="owl-carousel-4col" data-dots="true">
              <div class="item">
                <div class="thumb">
                  <img class="img-fullwidth" src="images/portfolio/p1.jpg" alt="project">
                </div>
                <div class="p-15">
                  <h4 class="mb-5"><a class="text-white" href="#">Sample Portfolio Title</a></h4>
                  <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit ipsum</p>
                </div>
              </div>
              <div class="item">
                <div class="thumb">
                  <img class="img-fullwidth" src="images/portfolio/p2.jpg" alt="project">
                </div>
                <div class="p-15">
                  <h4 class="mb-5"><a class="text-white" href="#">Sample Portfolio Title</a></h4>
                  <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit ipsum</p>
                </div>
              </div>
              <div class="item">
                <div class="thumb">
                  <img class="img-fullwidth" src="images/portfolio/p3.jpg" alt="project">
                </div>
                <div class="p-15">
                  <h4 class="mb-5"><a class="text-white" href="#">Sample Portfolio Title</a></h4>
                  <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit ipsum</p>
                </div>
              </div>
              <div class="item">
                <div class="thumb">
                  <img class="img-fullwidth" src="images/portfolio/p4.jpg" alt="project">
                </div>
                <div class="p-15">
                  <h4 class="mb-5"><a class="text-white" href="#">Sample Portfolio Title</a></h4>
                  <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit ipsum</p>
                </div>
              </div>
              <div class="item">
                <div class="thumb">
                  <img class="img-fullwidth" src="images/portfolio/p5.jpg" alt="project">
                </div>
                <div class="p-15">
                  <h4 class="mb-5"><a class="text-white" href="#">Sample Portfolio Title</a></h4>
                  <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit ipsum</p>
                </div>
              </div>
              <div class="item">
                <div class="thumb">
                  <img class="img-fullwidth" src="images/portfolio/p6.jpg" alt="project">
                </div>
                <div class="p-15">
                  <h4 class="mb-5"><a class="text-white" href="#">Sample Portfolio Title</a></h4>
                  <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit ipsum</p>
                </div>
              </div>
              <div class="item">
                <div class="thumb">
                  <img class="img-fullwidth" src="images/portfolio/p7.jpg" alt="project">
                </div>
                <div class="p-15">
                  <h4 class="mb-5"><a class="text-white" href="#">Sample Portfolio Title</a></h4>
                  <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit ipsum</p>
                </div>
              </div>
              <div class="item">
                <div class="thumb">
                  <img class="img-fullwidth" src="images/portfolio/p8.jpg" alt="project">
                </div>
                <div class="p-15">
                  <h4 class="mb-5"><a class="text-white" href="#">Sample Portfolio Title</a></h4>
                  <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit ipsum</p>
                </div>
              </div>
              <div class="item">
                <div class="thumb">
                  <img class="img-fullwidth" src="images/portfolio/p1.jpg" alt="project">
                </div>
                <div class="p-15">
                  <h4 class="mb-5"><a class="text-white" href="#">Sample Portfolio Title</a></h4>
                  <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit ipsum</p>
                </div>
              </div>
              <div class="item">
                <div class="thumb">
                  <img class="img-fullwidth" src="images/portfolio/p2.jpg" alt="project">
                </div>
                <div class="p-15">
                  <h4 class="mb-5"><a class="text-white" href="#">Sample Portfolio Title</a></h4>
                  <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit ipsum</p>
                </div>
              </div>
              <div class="item">
                <div class="thumb">
                  <img class="img-fullwidth" src="images/portfolio/p3.jpg" alt="project">
                </div>
                <div class="p-15">
                  <h4 class="mb-5"><a class="text-white" href="#">Sample Portfolio Title</a></h4>
                  <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit ipsum</p>
                </div>
              </div>
              <div class="item">
                <div class="thumb">
                  <img class="img-fullwidth" src="images/portfolio/p4.jpg" alt="project">
                </div>
                <div class="p-15">
                  <h4 class="mb-5"><a class="text-white" href="#">Sample Portfolio Title</a></h4>
                  <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit ipsum</p>
                </div>
              </div>
              <div class="item">
                <div class="thumb">
                  <img class="img-fullwidth" src="images/portfolio/p5.jpg" alt="project">
                </div>
                <div class="p-15">
                  <h4 class="mb-5"><a class="text-white" href="#">Sample Portfolio Title</a></h4>
                  <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit ipsum</p>
                </div>
              </div>
              <div class="item">
                <div class="thumb">
                  <img class="img-fullwidth" src="images/portfolio/p6.jpg" alt="project">
                </div>
                <div class="p-15">
                  <h4 class="mb-5"><a class="text-white" href="#">Sample Portfolio Title</a></h4>
                  <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit ipsum</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
