    <section id="services" class="layer-overlay overlay-dark-8" data-bg-img="images/pattern/leaf1.png" style="background-image: url(images/pattern/leaf1.png);">
      <div class="container pb-40">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-md-12">
              <h2 class="text-white mt-0 line-height-1">Our <span class="text-theme-colored">Services</span></h2>
            </div>
          </div>
        </div>
        <div class="section-content">
          <div class="row multi-row-clearfix">
          <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="icon-box bg-lighter p-20 border-1px">
                <a class="icon bg-theme-colored icon-circled icon-border-effect effect-circled pull-right  sm-pull-none flip text-white mt-15" href="#">
                  <i class="fontello-machine-2"></i>
                </a>
                <h4 class="icon-box-title"><a href="#">Lawn Maintenance</a></h4>
                <p>A traditional mowing of the grounds. This includes cutting the<br> grass, edging concrete, trimming around objects with weedeaters, trash/limb/branch removal and blowing off concrete where needed.</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="icon-box bg-lighter p-20 border-1px">
                <a class="icon bg-theme-colored icon-circled icon-border-effect effect-circled pull-right  sm-pull-none flip text-white mt-15" href="#">
                  <i class="fontello-cut-2"></i>
                </a>
                <h4 class="icon-box-title"><a href="#">Pruning Shrubs/Trees</a></h4>
                <p>Year round, Durham Lawn Care will trim and prune any trees, shrubs, or bushes that you would like us to take care of. We know the best intervals to make them beautiful.</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="icon-box bg-lighter p-20 border-1px">
                <a class="icon bg-theme-colored icon-circled icon-border-effect effect-circled pull-right  sm-pull-none flip text-white mt-15" href="#">
                  <i class="fontello-trolley-1"></i>
                </a>
                <h4 class="icon-box-title"><a href="#">Sod &amp; Turf Installation</a></h4>
                <p>Purchasing, transporting, and installing sod/turf is a project that Durham Lawn Care is perfect for. Contact us for details.<br><br></p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="icon-box bg-lighter p-20 border-1px">
                <a class="icon bg-theme-colored icon-circled icon-border-effect effect-circled pull-right  sm-pull-none flip text-white mt-15" href="#">
                  <i class="fontello-tool-3"></i>
                </a>
                <h4 class="icon-box-title"><a href="#">Power Washing</a></h4>
                <p>Durham Lawn Care provides a pressure washing service to clean<br> off concrete surfaces in your yard or on the grounds of a commercial business.</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="icon-box bg-lighter p-20 border-1px">
                <a class="icon bg-theme-colored icon-circled icon-border-effect effect-circled pull-right  sm-pull-none flip text-white mt-15" href="#">
                  <i class="fontello-tulip-1"></i>
                </a>
                <h4 class="icon-box-title"><a href="#">Flower Bed Installation &amp; Other Landscaping</a></h4>
                <p>We build flower beds, plant flowers, place flower bed<br> lining, and install edging. We can handle all of your flower bed projects. We also do various other landscaping projects.</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="icon-box bg-lighter p-20 border-1px">
                <a class="icon bg-theme-colored icon-circled icon-border-effect effect-circled pull-right  sm-pull-none flip text-white mt-15" href="#">
                  <i class="fontello-construction-2"></i>
                </a>
                <h4 class="icon-box-title"><a href="#">Mulch &amp; Gravel Laying</a></h4>
                <p>Durham Lawn Care takes pride in purchasing, transporting, and laying mulch and gravel in your flowerbeds. We gauranteed the safety of your plants as well.</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="icon-box bg-lighter p-20 border-1px">
                <a class="icon bg-theme-colored icon-circled icon-border-effect effect-circled pull-right  sm-pull-none flip text-white mt-15" href="#">
                  <i class="fontello-nature-23"></i>
                </a>
                <h4 class="icon-box-title"><a href="#">Fall Leaf Cleanup</a></h4>
                <p>During the Fall, Durham Lawn Care offers leaf cleanup and mulching. This ensures your yards look tidy and clean during the Autumn season.</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="icon-box bg-lighter p-20 border-1px">
                <a class="icon bg-theme-colored icon-circled icon-border-effect effect-circled pull-right  sm-pull-none flip text-white mt-15" href="#">
                  <i class="fontello-nature-28"></i>
                </a>
                <h4 class="icon-box-title"><a href="#">Relocation Services</a></h4>
                <p>Sometimes previous projects get in the way in your yard and<br> you'd like to move them to a different location. Durham Lawn Care can help with relocating them for you.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>