    <section>
      <div class="container">
        <div class="section-title">
          <div class="row">
            <div class="col-md-12">
              <h2 class="line-height-1 mt-0 mb-0">Meet Our <span class="text-theme-colored">Team</span></h2>
            </div>
          </div>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-md-12">
              <div class="owl-carousel-4col" data-dots="true">
                <div class="item">
                  <div class="team-member maxwidth400">
                    <div class="thumb"><img alt="" src="images/team/1.jpg" class="img-fullwidth"></div>
                    <div class="info">
                      <h4>Dustin Durham <small>- Owner, Manager</small></h4>
                      <p>Mr. Durham has been associated with the lawn and landscaping industry for decades. His expertise is profound as is his dedication to good customer service.</p>
                      <ul class="styled-icons icon-theme-colored icon-circled icon-dark icon-sm mt-15 mb-0">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="team-member maxwidth400">
                    <div class="thumb"><img alt="" src="images/team/2.jpg" class="img-fullwidth"></div>
                    <div class="info">
                      <h4>Jone doe <small>- Field Worker</small></h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisi cing elit. Consectetur adipisicing elit. Tempore provident accusamus est asperiores illum eius is.</p>
                      <ul class="styled-icons icon-theme-colored icon-circled icon-dark icon-sm mt-15 mb-0">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="team-member maxwidth400">
                    <div class="thumb"><img alt="" src="images/team/3.jpg" class="img-fullwidth"></div>
                    <div class="info">
                      <h4>Jone doe <small>- Field Worker</small></h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisi cing elit. Consectetur adipisicing elit. Tempore provident accusamus est asperiores illum eius is.</p>
                      <ul class="styled-icons icon-theme-colored icon-circled icon-dark icon-sm mt-15 mb-0">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="team-member maxwidth400">
                    <div class="thumb"><img alt="" src="images/team/4.jpg" class="img-fullwidth"></div>
                    <div class="info">
                      <h4>Jone doe <small>- Field Worker</small></h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisi cing elit. Consectetur adipisicing elit. Tempore provident accusamus est asperiores illum eius is.</p>
                      <ul class="styled-icons icon-theme-colored icon-circled icon-dark icon-sm mt-15 mb-0">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="team-member maxwidth400">
                    <div class="thumb"><img alt="" src="images/team/2.jpg" class="img-fullwidth"></div>
                    <div class="info">
                      <h4>Jone doe <small>- Field Worker</small></h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisi cing elit. Consectetur adipisicing elit. Tempore provident accusamus est asperiores illum eius is.</p>
                      <ul class="styled-icons icon-theme-colored icon-circled icon-dark icon-sm mt-15 mb-0">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>