    <!-- Divider: Funfact -->
    <section class="layer-overlay overlay-dark-8" data-bg-img="images/pattern/leaf1.png" style="background-image: url(images/pattern/leaf1.png);">
      <div class="container pb-50">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mb-md-50">
            <div class="funfact text-center">
              <div class="funfact-content">
                <div class="funfact-icon">
                  <i class="text-white fontello-plant font-30"></i>
                </div>
                <h2 data-animation-duration="2000" data-value="698" class="animate-number text-theme-colored font-30 mt-10">0</h2>
                <div class="clearfix line-bottom text-center"></div>
                <h4 class="text-white text-uppercase">Home delivery</h4>
                <p class="text-white">Architecto ullam tenetur quia nemo ratione tempora.</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mb-md-50">
            <div class="funfact text-center">
              <div class="funfact-content">
                <div class="funfact-icon">
                  <i class="text-white fontello-people-5 font-30"></i>
                </div>
                <h2 data-animation-duration="2000" data-value="1106" class="animate-number text-theme-colored font-30 mt-10">0</h2>
                <div class="clearfix line-bottom text-center"></div>
                <h4 class="text-white text-uppercase">Happy People</h4>
                <p class="text-white">Architecto ullam tenetur quia nemo ratione tempora.</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mb-md-50">
            <div class="funfact text-center">
              <div class="funfact-content">
                <div class="funfact-icon">
                  <i class="text-white fontello-construction-3 font-30"></i>
                </div>
                <h2 data-animation-duration="2000" data-value="4469" class="animate-number text-theme-colored font-30 mt-10">0</h2>
                <div class="clearfix line-bottom text-center"></div>
                <h4 class="text-white text-uppercase">Tons of goods</h4>
                <p class="text-white">Architecto ullam tenetur quia nemo ratione tempora.</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mb-md-50">
            <div class="funfact text-center">
              <div class="funfact-content">
                <div class="funfact-icon">
                  <i class="text-white fontello-tree font-30"></i>
                </div>
                <h2 data-animation-duration="2000" data-value="754" class="animate-number text-theme-colored font-30 mt-10">0</h2>
                <div class="clearfix line-bottom text-center"></div>
                <h4 class="text-white text-uppercase">Tree plant</h4>
                <p class="text-white">Architecto ullam tenetur quia nemo ratione tempora.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
